.container {
    padding: 0 rem(15px);
    max-width: rem(1296px);
    margin: 0 auto;
}
.yellowtext{
    color:var(--yellowColor );
}
.orengetext{
    color:var(--orangeColor);
}
.greentext{
    color:var(--greenColor );
}
.textcenter{
    text-align: center;
}
