
// Font 
$basefont   : 'Manrope', sans-serif;

// Colors 
:root {
    --bodyBgColor        :#202020;
    --greenColor         :#A2E053;
    --yellowColor        :#F7E64F;
    --orangeColor        :#F7AA4F;
    --blueColor          :#ADA1FF;
    --cyanColor          :#53E0CF;
    --whiteColor         :#FFFFFF;
    --grayTextColor      :#808080;   
    --buttonBgColor      :#3B3B3B;
    --boxBgColor         :#2B2B2B;
}


